@charset "UTF-8";


ul { list-style-type: none; }
.topHr { border-bottom: 10px; width: 95%; text-align: center; margin: auto; width: 95%; }

.head { margin-left: 5%; font-weight: bold; text-shadow: 3px 3px 3px lightgray; }
.side { margin-left: 0px; }
.depth1 { width: 100px; height: 40px; margin-top: 15px; color: black; background: white; border: none; font-weight: bold; font-size: 19px; box-shadow: 3px 3px 3px 3px lightgray; text-shadow: 2px 2px 2px lightgray; }
.depth2 { width: 100px; height: 30px; margin-left: 15px; color: darkcyan; background: white; border: none; font-weight: bold; font-size: 17px; box-shadow: 2px 2px 2px 2px lightgray; text-shadow: 1px 1px 1px lightgray; margin-top: 10px; }
.depth1, .depth2 { cursor: pointer; }
.depth1:hover { background: azure; }
.depth2:hover { background: azure; }

/* 버튼을 안누른 기본 레이아웃은 숨겨짐 */
.hidden { display: none; }
.member_card { width: 280px; height: 100px; background-color: azure; margin-left: 50px; padding: 10px; display: flex; box-shadow: 2px 2px 2px 2px lightgray; border: 1px solid lightgray; mragin-top: 30px; margin-bottom: 20px; cursor: pointer; }
.userImage { width: 80px; height: 80px; }
.b1 { margin-left: 15px; margin-bottom: -10px; font-size: 18px; text-shadow: 2px 2px 2px lightgray; }
.b2 { margin-left: 15px; font-size: 16px; }
.icons { margin-top: -34px; margin-left: 15px; font-size: 12px; }
.icons>button { background: white; border: 1px solid lightgray; }
.main_container { display: flex;}
#showTeam1, #showTeam2, #showTeam3 { margin-top: 20px; text-align: center; }
.teamNameButton { background: white; border: 1px solid lightgray; margin-bottom: 10px; color: purple; }


/* ---------------- 모달 내부 스타일링 시작 ------------------*/
#modalWindow { display: none; position: fixed; top: 55%; left: 50%; transform: translate(-50%, -50%); padding: 10px; background-color: #fff; border: 1px solid #ccc; width: 700px; height: 700px; transform: translate(-50%, -50%); }
.modal_userImage { width: 150px; height: 150px; }
.exitButton { cursor: pointer; margin-left: 650px; }
.BtnContainer{margin-left:10px;}
.personnelList>div { margin-right:63px; }
.privacyList>div { margin-right:50px; }
.personnelList { display:flex; margin-left:10px; }
.privacyList { display:flex;margin-left:10px; }
.showListButton { display:flex; margin-left:10; margin-bottom:10px; }
.mainContainer { display: flex; margin-bottom: 20px; }
.mainContainer>img { width: 160px; height: 180px; margin-left: 20px; border: 1px solid black; }
.listContainer { display:flex; }
/* ---------------- 모달 내부 스타일링 끝 ------------------*/

.divFollower { border: 1px solid black; }
.empTeam1 { display: flex; }


/* 2023. 11. 30. Employee Container Css 추가 */
.divLeader { max-width: 1000px; min-width: 1000px; }

.employee-ul { list-style-type: none; padding: 0; display: grid; grid-template-columns: repeat(2, 1fr); }
.employee-li { border: 1px solid black; margin: 10px; cursor: pointer; }
.employee-profile-wrap { display: flex; justify-content: space-between; width: 380px; margin: 8px; }
.employee-profile-inner-img { border: 1px solid black; width: 100px; height: 130px; }
.employee-info-wrap { position: relative; top: 7px }
.employee-name { margin-bottom: 30px; font-weight: 800; }
.employee-wrap-btn { display: flex; margin-top: 10px; }
.employee-inner-btn { margin-right: 5px; }
.employee-inner-status-wrap { display: flex; align-items: center; }
.employee-inner-status-icon { border-radius: 50%; width: 5px; height: 5px; margin-right: 5px; }

.status-active { border: 2px solid green; }
.status-inactive { border: 2px solid red; }
